<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general</key>
	<dict>
		<key>enableAppleCloud</key>
		<false/>
		<key>textEditorLineWrappingEnabled</key>
		<true/>
	</dict>
	<key>keyboard</key>
	<dict>
		<key>chineseEnglishSwitchButtonIsOnLeftOfSpaceButton</key>
		<false/>
		<key>colorSchemas</key>
		<array>
			<dict>
				<key>author</key>
				<string>雪齋 &lt;lyc20041@gmail.com&gt;/Morse &lt;morse.hsiao@gmail.com&gt;</string>
				<key>back_color</key>
				<string>0xF0352A0A</string>
				<key>border_color</key>
				<string>0x2A1F00</string>
				<key>button_back_color</key>
				<string>0xF0352A0A</string>
				<key>button_front_color</key>
				<string>0x7389FF</string>
				<key>button_pressed_back_color</key>
				<string>0x403516</string>
				<key>button_pressed_front_color</key>
				<string>0x7389FF</string>
				<key>button_swipe_front_color</key>
				<string>0x7389FF</string>
				<key>candidate_text_color</key>
				<string>0x7389FF</string>
				<key>comment_text_color</key>
				<string>0xC38AFF</string>
				<key>corner_radius</key>
				<integer>5</integer>
				<key>hilited_candidate_back_color</key>
				<string>0x403516</string>
				<key>hilited_candidate_label_color</key>
				<string>0xCC8947</string>
				<key>hilited_candidate_text_color</key>
				<string>0x989F52</string>
				<key>hilited_comment_text_color</key>
				<string>0x289989</string>
				<key>label_color</key>
				<string>0x478DF4</string>
				<key>name</key>
				<string>曬經・月／Solarized Dark</string>
				<key>schemaName</key>
				<string>solarized_dark</string>
				<key>text_color</key>
				<string>0x756E5D</string>
			</dict>
			<dict>
				<key>author</key>
				<string>雪齋 &lt;lyc20041@gmail.com&gt;/Morse &lt;morse.hsiao@gmail.com&gt;</string>
				<key>back_color</key>
				<string>0xF0E5F6FB</string>
				<key>border_color</key>
				<string>0xEDFFFF</string>
				<key>button_back_color</key>
				<string>0xF0E5F6FB</string>
				<key>button_front_color</key>
				<string>0x595E00</string>
				<key>button_pressed_back_color</key>
				<string>0xD7E8ED</string>
				<key>button_pressed_front_color</key>
				<string>0x595E00</string>
				<key>button_swipe_front_color</key>
				<string>0x595E00</string>
				<key>candidate_text_color</key>
				<string>0x595E00</string>
				<key>comment_text_color</key>
				<string>0x005947</string>
				<key>corner_radius</key>
				<integer>5</integer>
				<key>hilited_candidate_back_color</key>
				<string>0xD7E8ED</string>
				<key>hilited_candidate_label_color</key>
				<string>0x2566C6</string>
				<key>hilited_candidate_text_color</key>
				<string>0x3942CB</string>
				<key>hilited_comment_text_color</key>
				<string>0x8144C2</string>
				<key>label_color</key>
				<string>0xA36407</string>
				<key>name</key>
				<string>曬經・日／Solarized Light</string>
				<key>schemaName</key>
				<string>solarized_light</string>
				<key>text_color</key>
				<string>0xA1A095</string>
			</dict>
		</array>
		<key>disableSwipeLabel</key>
		<false/>
		<key>displayButtonBubbles</key>
		<true/>
		<key>displayChineseEnglishSwitchButton</key>
		<true/>
		<key>displayClassifySymbolButton</key>
		<true/>
		<key>displaySemicolonButton</key>
		<false/>
		<key>displaySpaceLeftButton</key>
		<true/>
		<key>displaySpaceRightButton</key>
		<false/>
		<key>enableButtonUnderBorder</key>
		<true/>
		<key>enableColorSchema</key>
		<false/>
		<key>enableDynamicShiftSemicolon</key>
		<true/>
		<key>enableEmbeddedInputMode</key>
		<false/>
		<key>enableHapticFeedback</key>
		<true/>
		<key>enableKeySounds</key>
		<true/>
		<key>enableLoadingTextForSpaceButton</key>
		<true/>
		<key>enableNineGridOfNumericKeyboard</key>
		<true/>
		<key>enableSymbolKeyboard</key>
		<true/>
		<key>hapticFeedbackIntensity</key>
		<integer>3</integer>
		<key>keyValueOfSpaceLeftButton</key>
		<string>，</string>
		<key>keyValueOfSpaceRightButton</key>
		<string>.</string>
		<key>keyboardRowHeight</key>
		<integer>58</integer>
		<key>labelTextForSpaceButton</key>
		<string></string>
		<key>leftSymbolProcessByRimeOnNineGridOfNumericKeyboard</key>
		<false/>
		<key>loadingTextForSpaceButton</key>
		<string></string>
		<key>lockForSymbolKeyboard</key>
		<false/>
		<key>lockShiftState</key>
		<true/>
		<key>numberKeyProcessByRimeOnNineGridOfNumericKeyboard</key>
		<false/>
		<key>pairsOfSymbols</key>
		<array/>
		<key>rightSymbolProcessByRimeOnNineGridOfNumericKeyboard</key>
		<false/>
		<key>showCurrentInputSchemaNameForSpaceButton</key>
		<false/>
		<key>showCurrentInputSchemaNameOnLoadingTextForSpaceButton</key>
		<false/>
		<key>showUppercasedCharacterOnChineseKeyboard</key>
		<false/>
		<key>spaceLeftButtonProcessByRIME</key>
		<true/>
		<key>spaceRightButtonProcessByRIME</key>
		<true/>
		<key>swipeLabelUpAndDownIrregularLayout</key>
		<false/>
		<key>swipeLabelUpAndDownLayout</key>
		<false/>
		<key>symbolsOfChineseNineGridKeyboard</key>
		<array>
			<string>，</string>
			<string>。</string>
			<string>？</string>
			<string>！</string>
			<string>…</string>
			<string>~</string>
			<string>'</string>
			<string>、</string>
		</array>
		<key>symbolsOfCursorBack</key>
		<array/>
		<key>symbolsOfGridOfNumericKeyboard</key>
		<array>
			<string>+</string>
			<string>-</string>
			<string>*</string>
			<string>/</string>
		</array>
		<key>symbolsOfReturnToMainKeyboard</key>
		<array>
			<string>，</string>
			<string>。</string>
			<string>！</string>
		</array>
		<key>upSwipeOnLeft</key>
		<true/>
		<key>useColorSchemaForDark</key>
		<string></string>
		<key>useColorSchemaForLight</key>
		<string></string>
		<key>useKeyboardType</key>
		<string>chinese</string>
		<key>widthOfOneHandedKeyboard</key>
		<integer>80</integer>
	</dict>
	<key>rime</key>
	<dict>
		<key>keyValueOfSwitchSimplifiedAndTraditional</key>
		<string>traditionalization</string>
		<key>maximumNumberOfCandidateWords</key>
		<integer>100</integer>
		<key>overrideDictFiles</key>
		<true/>
		<key>regexOnCopyAppGroupDictFile</key>
		<array>
			<string>^.*[.]userdb.*$</string>
			<string>^.*[.]txt$</string>
		</array>
		<key>regexOnOverrideDictFiles</key>
		<array>
			<string>^.*[.]userdb.*$</string>
			<string>^.*[.]txt$</string>
		</array>
	</dict>
	<key>swipe</key>
	<dict>
		<key>distanceThreshold</key>
		<integer>80</integer>
		<key>keyboardSwipe</key>
		<array>
			<dict>
				<key>keyboardType</key>
				<string>chineseNineGrid</string>
				<key>keys</key>
				<array>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(@/.)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(1)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(ABC)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(2)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(DEF)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(3)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(GHI)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(4)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(JKL)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(5)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(MNO)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(6)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(PQRS)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(7)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(TUV)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(8)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>chineseNineGrid(WXYZ)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(9)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>keyboardType</key>
				<string>chinese</string>
				<key>keys</key>
				<array>
					<dict>
						<key>action</key>
						<string>character(a)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(～)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<true/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(b)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(！)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(c)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>symbol(#)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(d)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(：)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(e)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(3)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(f)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(；)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(g)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(（)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(h)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(）)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(i)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(8)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(j)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(@)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(k)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(“)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(l)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(”)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(m)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(…)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(n)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(*)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(o)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(9)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(p)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(0)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(q)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(1)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(r)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(4)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(s)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(/)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(t)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(5)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(u)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(7)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(v)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(？)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(w)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(2)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(x)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(_)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(y)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(6)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(z)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(-)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>space</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>shortCommand(#次选上屏)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<false/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>enter</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>shortCommand(#换行)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>backspace</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>shortCommand(#重输)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>keyboardType(numericNineGrid)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>shortCommand(#上个输入方案)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>action</key>
						<string>character(，)</string>
						<key>swipe</key>
						<array>
							<dict>
								<key>action</key>
								<string>character(。)</string>
								<key>direction</key>
								<string>up</string>
								<key>display</key>
								<true/>
								<key>processByRIME</key>
								<true/>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
		<key>longPressDelay</key>
		<real>0.3</real>
		<key>spaceDragSensitivity</key>
		<integer>10</integer>
		<key>tangentThreshold</key>
		<real>0.577</real>
	</dict>
	<key>toolbar</key>
	<dict>
		<key>candidateCommentFontSize</key>
		<integer>12</integer>
		<key>candidateLabelFontSize</key>
		<integer>12</integer>
		<key>candidateWordFontSize</key>
		<integer>20</integer>
		<key>codingAreaFontSize</key>
		<integer>20</integer>
		<key>displayAppIconButton</key>
		<false/>
		<key>displayCommentOfCandidateWord</key>
		<false/>
		<key>displayIndexOfCandidateWord</key>
		<false/>
		<key>displayKeyboardDismissButton</key>
		<true/>
		<key>enableToolbar</key>
		<true/>
		<key>heightOfCodingArea</key>
		<integer>20</integer>
		<key>heightOfToolbar</key>
		<integer>58</integer>
		<key>swipePaging</key>
		<true/>
	</dict>
</dict>
</plist>
